# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.prefs
*/pom.properties
target/
.settings/
.classpath
.project
target/classes/META-INF/maven/org.springframework.samples/regexpTutorial/pom.properties
target/classes/META-INF/MANIFEST.MF
.settings/org.eclipse.jdt.core.prefs
.classpath
